*{
	@include reseteo-html (0, 0, none, none, none, none)
}




.lista-horizontal {
    display: inline;
    margin-right: 50px;
}

.navegacion {
    display: flex;
    align-items: center;
    border-bottom: solid black 1px;
    border-top: solid black 1px;
    margin-bottom: 30px;
}

.logo {
    display: flex;
    justify-content: center;
}

.centrado {
    display: flex;
    flex-direction: column;
}

.carousel{
    margin-left: auto;
    margin-right: auto;
}

.contenedor-imagenes {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.imagen-suelta {
    width: 500px;
    padding: 10px;
    height: 500px;
}



.imagen-logo {
    width: 25%;
}

.recuadrado{
    border-top: solid 5px #f44336;
    border-bottom:solid 5px #8bc34a;
    border-left: solid 5px #ffeb3b;
    border-right: solid 5px #ffeb3b;
    padding: 10px;
}

.img-footer{
    width: $imagen-size;
    height: $imagen-size;
    margin-right: 30px;
    margin-top: 5px;
}

.contactos{
    display: flex;
    height: 45px;
    border-top: solid black 1px;
    margin-top: 30px;
}

.parrafos {
    font-family: Arial, Helvetica, sans-serif;
}

.separador-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contenedor-imagenes-producto{
    @extend .contenedor-imagenes;
    background-color: pink;
}

a:visited{text-decoration:none;
    color: black;

}
a:hover{
    background-color: pink;
    transition-duration: 1s;
    transition-delay: 0.01ms;
}

.form-select{
    margin-top: 10px;
    margin-bottom: 10px;
}


@media screen and (max-width: 768px) {
    body { 
        display: flex;
        flex-direction: column;
    }

    .imagen-logo {
        width: 75%;
    }

    .parrafo-footer{
        font-size: 10px;
    }
    footer{
        display: flex;
        justify-content: center;
    }

    .card {
        width: 280px !important;
    }
    
    .recuadrado{
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .grid-imagenes {
        display: grid;
        grid-template-columns: 1fr;
    }
    .flex-imagenes {
        display: flex;
        }

    .imagen-suelta{
        padding: 0px;
        margin-top: 5px;
        flex-grow: 1;
        width: 280px;
        height: 280px;
    }

    .contenedor-imagenes{
        padding: 0px;
        justify-items: center;
    }

    .img-footer{
        width: 30px;
        height: 30px;
        margin-right: 20px;
        margin-top: 2px;
    }

    .separador-2 {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .lista-horizontal {
        margin-right: 0px;
    }
    .lista-navegacion{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

@media screen and (max-width: 425px) {
    .navegacion {
        display: flex;
        align-items: center;
        border-bottom: solid black 1px;
        border-top: solid black 1px;
        margin-bottom: 30px;
    }
    
}