*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

.lista-horizontal {
    display: inline;
    margin-right: 50px;
}

.navegacion {
    display: flex;
    align-items: center;
    border-bottom: solid black 1px;
    border-top: solid black 1px;
    margin-bottom: 30px;
}

.logo {
    display: flex;
    justify-content: center;
}

.contenedor-imagenes {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.imagen-suelta {
    width: 300px;
    padding: 10px;
    height: 300px;
}

nav div {
    justify-content: center;
}

nav div ul li {
    align-items: center;
}

.imagen-logo {
    width: 25%;
}

.recuadrado{
    border-top: solid 5px #f44336;
    border-bottom:solid 5px #8bc34a;
    border-left: solid 5px #ffeb3b;
    border-right: solid 5px #ffeb3b;
    padding: 10px;
}

.img-footer{
    width: 40px;
    height: 40px;
    margin-right: 30px;
    margin-top: 5px;
}

.contactos{
    display: flex;
    height: 45px;
    border-top: solid black 1px;
    margin-top: 30px;
}

.parrafos {
    font-family: Arial, Helvetica, sans-serif;
}

.separador-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contenedor-imagenes-producto{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

a:visited{text-decoration:none;
    color: black;

}
a:hover{
    background-color: pink;
    transition-duration: 1s;
}

@media screen and (max-width: 768px) {
    body { 
        display: flex;
        flex-direction: column;
    }

    .imagen-logo {
        width: 75%;
    }

    .parrafo-footer{
        font-size: 10px;
    }
    footer{
        display: flex;
        justify-content: center;
    }
    
    .recuadrado{
        border-top: solid 5px #f44336;
        border-bottom:solid 5px #8bc34a;
        border-left: solid 5px #ffeb3b;
        border-right: solid 5px #ffeb3b;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .grid-imagenes {
        display: grid;
        grid-template-columns: 1fr;
    }
    .flex-imagenes {
        display: flex;
        }

    .imagen-suelta{
        padding: 0px;
        margin-top: 5px;
        flex-grow: 1;
    }

    .contenedor-imagenes{
        padding: 0px;
        justify-items: center;
    }

    .img-footer{
        width: 30px;
        height: 30px;
        margin-right: 20px;
        margin-top: 2px;
    }

    .separador-2 {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .lista-horizontal {
        margin-right: 0px;
    }
    .lista-navegacion{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

@media screen and (max-width: 425px) {
    .navegacion {
        display: flex;
        align-items: center;
        border-bottom: solid black 1px;
        border-top: solid black 1px;
        margin-bottom: 30px;
    }
    
}